<app-header>
    <li headerComp1><a routerLink="/user-dashboard" class="Button nav">Back to dashboard</a></li>
</app-header>
<div *ngIf="Authorized; else unauthorized"  class="card">
    <div class="form-group">
        <label for="blogTitle">Blog Title </label>
        <input type="text" id="blogTitle" [(ngModel)]="title" class="form-control" [ngClass]="{'input': true}">
    </div>

    <p-editor [(ngModel)]="text" [ngClass]="{'p-editor' : true}" [style]="{ height: '320px' }">
        <ng-template pTemplate="header">
            <span class="ql-formats">
                <button type="button" class="ql-bold" aria-label="Bold">B</button>
                <button type="button" class="ql-italic" aria-label="Italic">I</button>
                <button type="button" class="ql-underline" aria-label="Underline">U</button>
            </span>
        </ng-template>
    </p-editor>

    <div class="form-group">
        <p-button label="Update" [disabled]="!isUpdateEnabled()" (click)="updateBlog()"></p-button>
</div>
</div>
<ng-template #unauthorized>
    <p>You are not authorized to edit this blog.</p>
</ng-template>
