<app-header></app-header>

<div class="blog-item">
    <h2>Blog Title</h2>
    <p>Author: John Due</p>
    <p>This is an example blog detail page. Quill performs generally well in terms of accessibility. The elements in the toolbar can be tabbed and have the necessary ARIA roles/attributes for screen readers. One known limitation is the lack of arrow key support for dropdowns in the toolbar that may be overcome with a custom toolbar.</p>
    <div class="blog-buttons">
        <button class="button" >Edit Blog</button>
        <button class="button">Delete Blog</button>
    </div>

    
</div>

