/* Add your desired styling for the card */
.card {
    width: 100%;
    max-width: 600px; /* Adjust the maximum width as needed */
    margin: 20px auto; /* Center the card on the page with some top and bottom margin */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  /* Add styling for the editor container */
  .p-editor {
    width: 100%;
  }
  
  /* Add styling for the editor toolbar */
  .ql-formats {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  /* Add styling for the editor buttons */
  .ql-formats button {
    background-color: #fff; /* Button background color */
    color: #333; /* Button text color */
    border: 1px solid #ccc; /* Button border color */
    padding: 8px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  /* Optional: Add styling for active/focused state of editor buttons */
  .ql-formats button:focus,
  .ql-formats button:hover {
    background-color: #f0f0f0;
  }
  

  .form-group {
    margin-bottom: 15px;
}

/* Add styling for the blog title input */
#blogTitle {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}




/*HEADER STYLES */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #EEF5FF; /* Add your desired background color */
}

.logo img {
    padding-left: 50px;
    max-height: 60px; /* Adjust the max-height as needed */
}

.site-name h1 {
    margin-left: 10px; /* Add space between the logo and site name */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 15px; /* Add spacing between navigation links */
}

nav a {
    text-decoration: none;
    color: #333; /* Add your desired text color */
    font-weight: bold;
}



/* Optional: Hover effect on navigation links */
nav a:hover {
    color: #007bff; /* Add your desired hover color */
}

@media (max-width: 768px) {
    .logo img {
        padding-left: 0; /* Remove padding on smaller screens */
    }

    .site-name h1 {
        margin-left: 0; /* Remove margin on smaller screens */
    }

    nav {
        flex-basis: 100%; /* Make navigation take full width on smaller screens */
        text-align: center; /* Center-align navigation links */
        margin-top: 10px; /* Adjust spacing as needed */
    }

    nav li {
        margin-right: 10px; /* Adjust spacing between navigation links on smaller screens */
    }
}