<app-header>
    <li headerComp1><a routerLink="/user-home" class="Button nav">Home</a></li>
    <li headerComp2><a routerLink="/new-post" class="Button nav">New Post</a></li>
    <li headerComp3><a routerLink="/homepage" class="Button nav" (click)="logout()">Sign out</a></li>
</app-header>

<div class="blog-list">
    <div class="blog-item" *ngFor="let blog of blogList">
        <a routerLink="/blog-details/{{ blog.id }}">
            <div class="details">
                <h2>{{ blog.title }}</h2>
                <p>Author: {{ blog.ownerName }}</p>
                <p>Created At: {{ blog.createdAt }}</p>
            </div>
        </a>
            <div class="card flex flex-wrap gap-3 justify-content-end"id="editButton">
                <button pButton pRipple label="Edit" class="p-button-success" (click)="editPage(blog.id)"></button>
                <p-button (onClick)="deletePost(blog.id)" label="Delete" severity="secondary"></p-button>
            </div>
        
        

       
    </div>
</div>

