body {
    margin: 0;
    font-family: Arial, sans-serif;
}




.blog-list {
    margin: 20px;
}

/* Add styles for each blog item */
.blog-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    color: black;
}

a{
    text-decoration: none;
}