/* Signup Container Styles */
.signup-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 5px 5px lightblue;
  margin-top: 50px;
  text-align: center;
  background-color: #ffffff; /* White background */
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
}

/* Form Group Styles */
.form-group {
  margin-bottom: 20px;
}

/* Label Styles */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Input Styles */
.input-field {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s; /* Add a transition effect for a smooth hover effect */
  
}

.input-field:hover {
  border-color: blue; /* Change the border color on hover to blue */
}

/* Card Styles */
.card {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Button Styles */
button{
  width: 100%;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
 .p-button {
  width: 90px;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  .card {
    flex-direction: column;
    gap: 10px;
  }

  button, p-button {
    width: 100%;
  }
}

.validation-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.input-field.invalid {
  border-color: red;
}
