/* Card Styles */
.card {
  width: 100%;
  max-width: 600px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 5px 5px lightblue;
 
}

/* Flex Container Styles */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-2 {
  gap: 0.5rem;
}

/* Form Styles */
.label {
  width: 6rem;
}

.input {
  width: 12rem;
}

/* Button Styles */
.button {
  display: inline-block;
  padding: 12px 20px;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-container {
  position: relative;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.validation-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
.label{
  font-weight: bold;
  align-items: center;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-field.invalid {
  border-color: red;
}

/* Optional: Highlight input field when focused */
.input-field:focus {
  border-color: #3498db;
}