body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #EEF5FF; /* Add your desired background color */
}

.logo img {
    padding-left: 50px;
    max-height: 60px; /* Adjust the max-height as needed */
}

.site-name h1 {
    margin-left: 10px; /* Add space between the logo and site name */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 15px; /* Add spacing between navigation links */
}

nav a {
    text-decoration: none;
    color: #333; /* Add your desired text color */
    font-weight: bold;
}



/* Optional: Hover effect on navigation links */
nav a:hover {
    color: #007bff; /* Add your desired hover color */
}

@media (max-width: 768px) {
    .logo img {
        padding-left: 0; /* Remove padding on smaller screens */
    }

    .site-name h1 {
        margin-left: 0; /* Remove margin on smaller screens */
    }

    nav {
        flex-basis: 100%; /* Make navigation take full width on smaller screens */
        text-align: center; /* Center-align navigation links */
        margin-top: 10px; /* Adjust spacing as needed */
    }

    nav li {
        margin-right: 10px; /* Adjust spacing between navigation links on smaller screens */
    }
}