<header>
    <div class="logo">
        <img src="../../assets/images/logo.png" alt="Your Logo">
    </div>
    <div class="site-name">
        <h1>Blog Application</h1>
    </div>
    <nav>
        <ul>
            <!-- <li><a routerLink="/homepage">Home</a></li>
            <li><a routerLink="/new-post" class="button">New Post</a></li>
            <li><a href="#">Sign Out</a></li> -->
            <ng-content select="[headerComp1]"></ng-content>
            <ng-content select="[headerComp2]"></ng-content>
            <ng-content select="[headerComp3]"></ng-content>
        </ul>
    </nav>
</header>