header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #176B87;
    color: #fff;
}

.logo img {
    max-height: 60px;
}

.site-name h1 {
    margin-left: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav a:hover {
    color: #e0e0e0;
}

@media (max-width: 768px) {
    .logo img {
        padding-left: 0;
    }

    .site-name h1 {
        margin-left: 0;
    }

    nav {
        flex-basis: 100%;
        text-align: center;
        margin-top: 10px;
    }

    nav li {
        margin-right: 10px;
    }
}